.about {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16pt;
  height: 400px;
}

h1 {
  font-family: 'Quattrocento', serif;
}
