.App {
  text-align: left;
}
/*
.header {
  background: linear-gradient( to top, gray, #556a8c);
  height: 25px;
  padding: 20px;
  color: white;

}*/

.about {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16pt;
}

h1 {
  font-family: 'Quattrocento', serif;
}
