body {
  margin: 0;
  padding: 0;
  background-color: rgb(129, 159, 197);
  color: rgb(60, 74, 93);
  font-family: 'Quicksand', sans-serif;
}

header {
  height: 50px;
  background-color: white;
  color: rgb(129, 159, 197);
  top: 50%;
  transform: translate(0, -50%);
}

.top {
  margin-top: 20px;
}
